<app-navbar></app-navbar>
<section class="vh-100">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-3">Create an account</h2>

              <form [formGroup]="form">

                <div class="form-outline">
                  <span *ngIf="form.controls.name.errors && form.controls.name.touched" class="wrong">name required *</span>
                  <input formControlName="name" id="name" #name type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name *</label>
                </div>

                <div class="form-outline mb-2">
                  <span *ngIf="form.controls.email.errors && form.controls.email.touched" class="wrong">email required *</span>
                  <input formControlName="email" #email id="email" type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-2">
                  <span *ngIf="form.controls.password.errors && form.controls.password.touched" class="wrong">password required *</span>
                  <input formControlName="password" #password id="password" type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-2">
                  <span *ngIf="form.controls.repass.errors && form.controls.repass.touched" class="wrong">password not identcle *</span>
                  <input formControlName="repass" id="repass" type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>
                
                <div class="d-flex justify-content-center">
                  <button [disabled]="form.invalid" type="submit" (click)="submit(name,email,password)" routerLink="/login"  class="btn btn-dark btn-lg" >Register</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>